@import "bootstrap/scss/bootstrap.scss";
.barchart--wrapper{
  padding-top: 50px;
  @media screen  and (max-width: 600px){
    margin:0!important;
  }
.bar-tool-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  td{
    font-size: 15px;
    font-weight: 500;
    
  }
  .td-data{
  color: #f64b4b
  }
  &:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 3;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
}

.bar-tool-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.rect-dom-element{
  &:hover{
    opacity: 0.8;
  }
}
}